.banner-container {
    max-width: 100%;
    overflow: hidden;
    height: 500px;
    background-color: #000;
    position: relative;
}


.banner-image {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.banner-content{
    position: absolute;
    top: 0;
    background-color: #000;
    color: #FFF;
    left: 10%;
    padding: 28px 62px;
}

.banner-container .page-breadcrumb{
    background-color: #1D1B1B;
    padding: 8px;
    margin-bottom: 12px;
}

.banner-container .page-breadcrumb a{
    color: #FFF;
}

.banner-container .page-breadcrumb .active-page{
    color: #F03B3B;
}

.heading-with-underline {
    display: inline-block;
    position: relative;
}

.heading-with-underline::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #F03B3B;
}

.services-list .card{
    box-shadow: 0px 3px 30px 0px rgba(16, 23.000000000000032, 46, 0.1);
    border: none;
    margin-bottom: 24px;
}
.services-list .card-body{
    margin: -60px 40px 0px 40px;
}

.services-list .card-body .icon{
    color: #fff;
    background-color: #F03B3B;
    margin: 5px 0px 20px 0px;
    padding: 20px 20px 20px 20px;
    display: inline-block;
}

.services-list .card-body .icon i{
    font-size: 45px;
}

.services-list a{
    color: #F03B3B;
    font-size: 16px;
    font-weight: 500;
}

.services-list a:hover{
    color: #020202;
}

.text-center{
    text-align: center;
}

.testimonial-services .card{
    text-align: left;
    background-color: #FFFFFF;
    padding: 50px 40px 50px 40px;
    box-shadow: 0px 0px 20px 0px rgba(5.9999999999999964, 31.000000000000032, 74, 0.07);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #F03B3B;
    border-radius: 0px 0px 0px 0px;
}

.testimonial-services .highlight-service .card{
    background-color: #F03B3B;
    box-shadow: 0px 0px 20px 0px rgba(6.000004511294164, 31.000002852730187, 74.00000000000006, 0.07);
}

.testimonial-services i{
    color: #F03B3B;
}

.testimonial-services .card-body h2{
    color: #000;
    text-align: left;
    line-height: 1.1em;
    font-size: 24px;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.testimonial-services .highlight-service i, .testimonial-services .highlight-service h2, .testimonial-services .highlight-service .card-text{
    color: #fff
}

.testimonial-services .card-text{
    color: #7A7A7A;
    font-size: 16px;
    font-weight: 400;
}

.testimonial-section{
    position: relative;
}

.testimonial-section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%; /* Adjust this percentage to change the height of the colored area */
    background-color: #020202; /* Set your desired background color */
    z-index: -1;
}

.testimonial-section .card i{
    font-size: 40px;
}

.testimonials-container{
    padding-top: 24px;
    background-color: #020202;
    width: 100%;
}
/* .testimonials-container h1, h2, h3{
    color: #fff;
    text-align: center;
} */

.testimonials-container .heading-with-underline{
    font-size: 18px;
}

.avatar-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}


.testimonial-slider {
    margin: 20px auto;
    width: 80%;
}

.testimonial {
    color: #fff;
    padding: 20px;
    text-align: center;
}

.large-heading{
    font-size: 38px;
    font-weight: 700;
}

.testimonial .user-name{
    color: #F03B3B;
    font-size: 20px;
    font-weight: 600;
}

.work-process .process-icon{
    background-color: #F03B3B;
    padding: 16px;
    margin-bottom: 16px;
}

.work-process .process-icon img{
    width: 58px;
    height: 58px;
    position: relative;
    display: block;
}

.work-process .process-detail h3{
    font-size: 24px;
    margin-bottom: 16px;
}

.position-arrow{
    position: absolute;
    left: -52px;
}

.work-process .process-detail p{
    color: #7A7A7A;
    font-size: 16px;
    font-weight: 400;
}

.slick-dots{
    background-color: #020202;
}

.contact-section{
    background-color: #131313;
    color: #FFF;
}

.contact-section-detail{
    padding-top: 100px;
    padding: 80px;
}

.contact-section .contact-details i{
    color:#F03B3B;
}

.contact-section .contact-details a{
    color: #FFF;
}

.contact-section .contact-details a:hover{
    color: #F03B3B;
}


/* Add Css View page  */
img.img-top {
    height: 466px;
}

.service-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px; /* Add spacing between items */
}

.service-image {
    position: relative;
    width: 100%;
    height: 300px; /* Adjust height as needed */
    background-size: cover;
    background-position: center;
    color: white; /* Text color */
}

.overlay {
    position: absolute;
    left: 16px;
    top: 28px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.service-price {
    margin: 0;
    font-size: 24px;
}

p.short-description {
    padding: 0 64px 1px 0px;
}
.text-color {
    color: white;
}

